<div class="stream__actions">
	<button [ngClass]="{'disabled': !useVideo}" (click)="switchVideo()" class="stream__actions__btn" >
		<span style="font-size: 3em;">
			<i class="fa-solid fa-camera"></i>
		</span>
	</button>
	<button [ngClass]="{'disabled': !useAudio}" (click)="switchAudio()" class="stream__actions__btn">
		<span style="font-size: 3em;">
			<i class="fa-solid fa-microphone"></i>

		</span>
	</button>
	<!--<button class="join-btn" id="leave-btn">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<path d="M16 10v-5l8 7-8 7v-5h-8v-4h8zm-16-8v20h14v-2h-12v-16h12v-2h-14z" />
		</svg>
	</button>-->
	<button class="stream__actions__btn" id="leave-btn" (click)="endCall()">
		<span style="font-size: 3em; color: Tomato;">
			<i class="fa-solid fa-phone"></i>
		</span>
		
	</button>
</div>