<aside class="sidebar">
	<div class="sidebar-header">
		<div class="member__item__circle">В</div>
		<h2>CodingLab</h2>
		<div (click)="close()" class="close" style="font-size: 2rem;">
			<i class="fa-solid fa-xmark"></i>
		</div>
	</div>
	<ul class="sidebar-links">
		<li>
			<a href="#"><span class="material-symbols-outlined">
				<div style="font-size: 1.5rem;">
					<i class="fa-solid fa-globe"></i>
				</div>
			</span>Язык</a>
		</li>
		<li>
			<a (click)="exit()"><span class="material-symbols-outlined"> 
				<div style="font-size: 1.5rem;">
					<i class="fa-solid fa-right-to-bracket"></i>
				</div> </span>Выйти
			</a>
		</li>	
	</ul>

</aside>